:root {
    --nav-title-font-size: 2rem;
    --nav-title-font-weight: bold;
}

.container {
    max-width: 1100px !important;
    /* Every side the margin will be fixed */
    margin: auto;
    /* so that our container can touch the buttom */
    margin-bottom: 3rem;
}

.header-title {
    color: var(--color-text-light);
    /* Remove the bullet and all the styles */
    text-decoration: none;
    font-size: var(--nav-title-font-size);
    font-weight: var(--nav-title-font-weight);
}

.header-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
}

.header-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.header-nav li {
    list-style: none;
    font-weight: 200;
}

.header-nav li a {
    text-decoration: none;
    color: var(--color-text-light);
    font-weight: bold;
    padding: 1rem;
}

.header-nav li a:hover, .header-title:hover {
    color: blue;
}

.author-name {
    font-size: 1.5rem;
}


