:root {
    font-family: "Trirong", serif;
    font-size: 18px;
}

.header-title {
    color: black;
    /* Remove the bullet and all the styles */
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}

.header-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
}

.header-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.header-nav li {
    list-style: none;
    font-weight: 200;
}

.header-nav li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 1rem;
}

.header-nav li a:hover, .header-title:hover {
    color: blue;
}

.author-name {
    font-size: 1.5rem;
}

.book-name {
    font-size: 1.2rem;
    font-weight: bold;
}

.page-header {
    font-size: 1.8rem;
    font-weight: 300;
}


